body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  margin:0;
  padding:0;
  min-height: 100vh;
  background-image: url("../src/components/assets/toothless_background.jpg");
  background-position: center;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-brand {
  color: #040079;
}

.navbar-brand:hover {
  color: #ffae5e;
  cursor:pointer;
}

.navbar-brand img {
  width: 30px;
  margin-right: 10px;
}

.btn {
  font-size: 15px;
}

.btn-primary:hover {
  background-color: #ffae5e;
  opacity: 0.9;
}

.btn-secondary {
  background-color: #7430f9;
}

.btn-secondary:hover {
  background-color: #7430f9;
  opacity: 0.9;
}

.icon {
  margin-right: 5px;
}

.header {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.addDragonBtn{
  height: fit-content;
}


.dragonStatsIcon {
  height: 25px;
  width: 25px;
}

.rowStats{
  display: flex;
  align-items: center;
}

.card-text{
  margin-left:20px;
}

.dragonCardContainer{
  justify-content: space-evenly;
  column-gap: 1rem;
  padding:0.2rem;
}

.dragonCardIndividual{
  border-color: aliceblue!important;
  background-color: #ffae5e!important;
  max-width: 18%;
  text-align: center;
  border-radius: 30px!important;
  border: 2px solid white;
}

.dragonCardIndividual:hover{
  transform: translateY(-5px);
  background-color: #fea44a!important;
  cursor: pointer;
}

.dragonImage{
  box-shadow: -1px 6px 12px 1px rgba(69,69,69,0.49);
  border-radius: 10px;
}